# .NET
bin/
obj/
/publish/
*.dll
*.exe
*.csproj.user
*.suo
*.user

# Config cá nhân
appsettings.Development.json

# Secrets
secrets.json
*.env

# VS Code
.vscode/

# NuGet
packages/
*.nupkg

# Logs
*.log